# ============================================================
# ESP32-S2
# ============================================================

CONFIG_LV_DRAW_SW_DRAW_UNIT_CNT=1

# CONFIG_SPIRAM_XIP_FROM_PSRAM=y